{% extends "base.html"%}
{% block title %}The Winter Assignment{% endblock %}
{% block chapternumberandname %}Chapter 6: The Winter Assignment{% endblock %}
{% block postdate %}July 1, 2019{% endblock %}
{% block previous %}<a href = "./chapter5.html">Chapter 5: Snow and hail</a>{% endblock %}
{% block content %}
                    <p>
                        The familiar old sight of the inverted triangle thatched roof common to all the huts in Rihati greeted Brelady as she woke up. Strauss was seated on the other end of the hut, peering over a scroll, looking remarkably similar to his teenage self. Dog was laid on a sown bed of leaves and vines, a cloth laid on him.
                    </p>
                    <p>
                        Several pangs of pain simultaneously flared in her head, each one with a well defined territory. Her throat felt scorched. Her joints ached.
                    </p>
                    <p>
                        "Is he dead?"she whispered.
                    </p>
                    <p>
                        "No. He was on the brink of death.  I brought him back. You don't need to worry about him."he said, his eyes still on the scroll. She had first noticed him in the common hall a year ago, eating alone in a corner, ostentatiously avoided by everyone else. Until then she had believed that the dislike the Elders had sanctioned her was a one-off phenomenon. She had asked around and found out that he was a former child prodigy named Strauss. A man the elders despised for some reason. She had felt an instant kinship with him.
                    </p>
                    <p>
                        "Were you reading his memories by using him as a source for a warming spell?",he asked. He slowly raised his said as he asked that question, finally resting his eyes on hers and with those eyes seemingly peering into her soul.
                    </p>
                    <p>
                        So I was right, thought Brealdy. The Rules aren't all laws. And he knows this.
                    </p>
                    <p>
                        "Yes. I didn't mean to hurt him. I am sorry. I just wanted to know more. I just wanted to find out the truth."She truly was sorry. She had lost track of time. She had seen all those scrolls, scrolls with disciplines she had never heard of before, disciplines capable of castings and feats she had thought until then was impossible. She wanted to know all of it. At that moment all that was on her mind was quenching the thirst of knowledge that had been with her all through her life.
                    </p>
                    <p>    
                        "Who taught you to do that? Who showed you how to use living matter as sources? Has The Source changed so rapidly in the ten years since I graduated?". In contrast to his stark demeanour and reputation, his eyes were kind. He seemed genuinely curious.
                    </p>
                    <p>
                        "No. No one showed me how to do it. I learnt it on my own. I had to. They have lied to me for years, haven't they? They have lied to all of us for . I read the scrolls, I know there exists disciplines that completely contradict what they have been teaching. I know it now. In retrospect, I'm surprised it took me this long. Every single one of the rules sounds like a platitude. It sounds and feels incomplete. It sounds heavily and precisely doctored. Why do they lie like this?", Brelady's voice raising by the word, her eyes wide and in shock, her face distorted with puzzlement, she looked completely shaken. 
                    </p>
                    <p>
                        "Why were you going through Dog's memory?"Strauss was unperturbed by Brelady's confusion, his countenance remaining unchanged through her monologue.
                    </p>
                    <p>
                        "I had an assignment. I had to figure out what kind of conditions each of the five rules imposes on the others. I had to list them. I imagined that there must have been at least one instance in the past two decades where dog might have seen you do something that might lead me to find the answers to the assignment"she replied, still dazed and unsure of what the reasons behind the lies were.
                    </p>
                    <p>
                        "Oh, is that all? See, that scroll over there? Pick that up. There's some ink and a quill by that corner. Take those and write down everything that I say."said Strauss, finally putting aside the scroll in front of him and straightening up.
                    </p>
                    <p>
                        "What? What's happening? I almost killed your dog. I spied into your life. I intruded onto your memories for no more reason than to sate my selfishness. And you want to help me now? Why?"Her eyes were wide with disbelief. 
                    </p>
                    <p>
                        "You want to know why they all lie to us? You want to know why both of us, orphans, are despised in a society that professes unconditional love? You want to know what the world actually has to offer instead of being satisfied with the pittiance that have been thrown to us by the Elders? Then pick up that quill and write all this down. The sooner the facade that is your education ends, the sooner we can begin your actual learning. Pick up that quill."said Strauss. At that moment, he looked wise beyond his years. His practiced apathy peeled and fell off in tatters, revealing what he truly felt. He was just like her. He was enraged.
                    </p>
                        
                        
{% endblock %}
