{% extends "base.html"%}
{% block title %}**unnamed**{% endblock %}
{% block chapternumberandname %}Chapter 7: **unnamed**{% endblock %}
{% block postdate %}July 5, 2019{% endblock %}
{% block previous %}<a href = "./chapter7.html">Chapter 7: **unnamed**</a>{% endblock %}
{% block content %}
                    <p>
                        Brelady departed the hut, her precocity rewarded, with a scroll containing the answers to her assignment. She finally knew what she needed to do. Strauss was right. She had to graduate from the Source. The reason Strauss' study went uninterrupted and unobstructed is because he had spent years out of sight and out of reach from the elders. He had spent years hiding away in his hut, ostensibly doing nothing, which relaxed the elders' guards. 
                    </p>
                    <p>
                        The elders, at the moment, are still acutely aware of my existence, thought Brelady. I need to somehow get them to relax, she thought. Well, I think I know how.
                    </p>
                    <p>
                        The Source loomed over her head, a structure too big to be called just a hut, but apart from its size, it resembled a hut to the t, so it was designated a hut. Brelady knew that despite no classes being conducted at that time of the year, Master Farious would be in there. She actually didn't know whether Farious owned a house to himself. Whenever she thought of him, or something he said, or something he had taught, the source would be where he would be. The building, in some ways, seemed to be tied to his identity.
                    </p>
                    <p>
                        She walked up to the  wide double door and knocked thrice. She could hear the swooshes of scrolls being turned and steps approaching the door. Master Farious appeared, same as ever, his gaze kind and his smile warm. He had lied to her for years. She shouldn't forget that, she taught.
                    </p>
                    <p>
                        "Oh! What a pleasant surprise. What brings you here this time of the year, Brelady? Have you come to borrow any of the scrolls, perchance?" asked Farious, as cordial as ever. His eyes twinkled and his whole demeanor seemed to scream that he was actually glad to see her. But he had lied. Maybe he doesn't know that what he's teaching are lies? That they are not only an incomplete group of half-truths but also that they are restrictive and reductive? No. He was too smart and too well-versed in the White Gift to be that ignorant. He knows. He knows and lies nevertheless. She shouldn't trust him.
                        "No, Master Farious. I have come here to submit my assignment." Said Brealdy, her eyes not betraying her thoughts, her smile as genial as it ever was.
                    </p>
                    <p>
                        Master Farious' eyes go wide in surprise. At that moment, Brelady knew that the assignment was either a ruse to teach some lesson about futility or was designed to be completed only after a gradual revealing of a hint or two. She had messed up.
                    </p>
                    <p>
                        "You completed the assignment? Are you saying that you figured out all the sequences in which the Five Rules affect each other? That's not possible. Have you taken into the effect of a rule with respect to the order in which it was casted? Have you observed the rules in combinations of two and three and four and five? That yields to thousands of combinations. How could you possibly have figured that out?"
                    </p>
                    <p>
                        She had messed up in such a spectacular manner. This was not an assignment which was meant to completed. This was a lesson in humility. God. Strauss, the idiotic, contextually ignorant prodigy that he was, could be excused for the thought escaping his mind. But she should have figured it out. Until now they had only practiced basic castings from simple disciplines. Now, here she is, with a three step, matrix transformed, informational grid casting written on a scroll in which all the 3125 combinations were stored. God, she had messed up.
                    </p>
                    <p>
                        "Is that it? Is that the scroll in which you have written your answers?" asked Farious, seemingly jesting, for he thought, she had written a few combinations down there. Oh god.
                    </p>
                    <p>
                        As Farious read the scroll, he understood what that meant. And Brelady knew what that meant for her. Interrogations. She was going to be questioned. She had to come up with something. The informational storage casting did not break any of the five Rules, thankfully, but it was something that was not taught to her. The Scrolls that she had the permission to borrow from the source mentioned nowhere near the information require to cast it.
                        "Where did you learn this?" he asked.
                    </p>
                    <p>
                        "I remember my father casting it." lied Brelady, for no matter what she did not want to give up Strauss.
                    </p>
                    <p>
                        "You father died when you were four years old. Are you telling me that you remember this multi-step casting from when you were four years old? Brelady, what are you hiding? I just want to know where you learnt this."
                    </p>
                    <p>
                        The gall of Farious for calling me liar, thought Brelady, her anger rising. He has lied to me for years and now in this kindly facade of his, he dares to call me a liar.
                    </p>
                    <p>
                        "I'm telling you the truth. I remembered it last week. I have worked tirelessly since then listing and learning the combinations and then casting these to store them intuitively and you call me a liar?" she replied, half in anger and half in frustration.
                    </p>
                    <p>
                        Farious had known her ever since she was born. She knew that her reactions would not hide the lies from him. But hopefully, he would figure out that she wouldn't tell him the truth. And so he did.
                    </p>
                    <p>
                        "All right, Brelady. I trust you. I am on your side. Just don't go down a path in which I can't protect you." He looked like he meant what he said. But he had looked just the same, full of concern, when he had lied to her face.
                    </p>
                    <p>
                        "I don't need your protection." Said Brelady, turning her back to him, as she walked back home.
                    </p>        
{% endblock %}
